@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Questrial&family=Quicksand:wght@600&family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    width: 5px;
    height: 4px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.rocky-head {
    background-color: #272727;
}

.w-2-5\/12 {
    width: 18.5%;
}

.w-9-5\/12 {
    width: 81.5%;
}

.search-box {
    width : 100%;
    padding: 12px;
}

.search-box > input {
    outline-style: none;
}

.w-library-submenu {
    width: 17rem;
}

.w-fit {
    width: fit-content;
}

.banner {
    background: linear-gradient(to bottom,rgb(25 25 25 / 44%) 0,rgb(173 173 173 / 21%) 100%),url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-screen {
    background: linear-gradient(to bottom,rgb(25 25 25 / 44%) 0,rgb(173 173 173 / 21%) 100%),url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.brand {
    font-family: 'Questrial', sans-serif;
}

.kanit {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.5px;
}

.bebas {
    font-family: 'Bebas', sans-serif;
}

.quick {
    font-family: 'Quicksand', sans-serif;
}

.shadow-search {
    opacity: 0.7;
    background: rgb(0 0 0);
    transition: opacity 220ms ease 0s;
    z-index: 0;
}

.zi-1 {
    z-index: 1;
}

.-zi-1 {
    z-index: -1;
}

.-zi-2 {
    z-index: -2;
}

.-zi-3 {
    z-index: -3;
}

.closeAdvs {
    position: absolute;
    right: 1em;
    top: 1em;
}

a {
    color: white
}